<!-- Community Page [Sheetz for the Kidz] -->
<!-- Icon & Donate Button -->
<button type="button" class="btn btn-primary btn-lg">Donate Now</button>
<h5 class="title">Help Local Kidz</h5>
<p class="text">In 1992, two District Managers founded Sheetz For the Kidz™ as a way to give children in need the opportunity to celebrate the holidays with new toys, clothes and other basic needs. That first year, they raised $12,000 and took 126 children shopping. The charity partners with The Salvation Army who selects families within each store's community to participate in the program. In 2021, Sheetz For the Kidz supported over 10,000 kids in the communities that Sheetz operates.</p>
<p class="text">In 2005, Sheetz For the Kidz expanded its scope of operation and partnered with Make-A-Wish to grant wishes of children with life-threatening medical conditions. In 2021, the charity sponsored 58 children.</p>
<p class="text">In 2019, to broaden our connection in the communities we serve, Sheetz For the Kidz partnered with Feeding America to provide food to kids in need through food pantries, soup kitchens, and meal programs. In 2021, a $640,000 contribution was made to support local child-hunger programs.</p>
<p class="text">Sheetz For the Kidz is a Sheetz employee-driven charity that is a separate organization from Sheetz, Inc. Since 1992, the organization has brought smiles to the faces of over 150,000 children living in the communities Sheetz serves!</p>
<h5 class="title">You Can Help Us Reach More Families</h5>
<p class="text">By donating, you are directly helping underprivileged children experience a holiday in a way they normally couldn’t, or granting a child’s most heartfelt wish.</p>
<!-- Donate Button -->
<button type="button" class="btn btn-primary btn-lg">Donate Now</button>
<h5 class="title">Get Involved</h5>
<!-- Image -->
<p class="title">Support Sheetz For the Kidz when you make a Sheetz Run during the months of July and December.This fundraising effort is a perfect way for our employees to connect with our customers to impact our communities.</p>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Statements</h5>
          <p class="card-title">Mission</p>
          <p class="card-text">To provide support, hope, joy and happiness to children in need in the communities where we operate.</p>
            <p class="card-title">Vision</p>
            <p class ="card-text">To provide employee-driven programs that enrich and support children in need living in our neighborhoods.</p>
        
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contact Us</h5>
          <p class="card-title">Address</p>
          <p class="card-text">Sheetz for the Kidz</p>
          <p class="card-text">5700 Sixth Avenue</p>
          <p class="card-text">Altoona, PA 16602</p>
        </div>
      </div>
    </div>
  </div>