<app-side-nav></app-side-nav>
<div class="card">
    <div class="card-header">
      Whats the Deal?
    </div>
    <div class="card-body">
        <p class="card-text">Our scrip fundraising program provides not-for-profit organizations the ability to purchase Sheetz Z-Cards™ at a 3% discounted rate. We offer these cards to scrip participants in $25, $50, or $100 denominations. The Z-Cards can then be sold to your organization’s supporters at face value.</p>
        <p class="card-text">Each card can then be used to purchase M·T·O® food items, gas, or anything else available for sale at all our Sheetz locations.</p>
     </div>
  </div>
  <div class="card">
    <div class="card-header">
      Z-Perfect Program
    </div>
    <div class="card-body">
        <p class="card-text">The strength of the Sheetz scrip program lies in the convenience offered by the Z-Cards themselves. Customers can simply present the card at the time of checkout and forego fumbling with cash. Each transaction is also accompanied by a receipt informing the customer of the amount of funds remaining on the Z-Card.</p>
     </div>
  </div>
  <div class="card">
    <div class="card-header">
      Getting Started
    </div>
    <div class="card-body">
        <p class="card-text">The Sheetz Scrip program is an excellent way to raise ongoing funds for your organization. Please keep in mind that all orders must be paid for in advance of the disbursement of Z-Cards and that the program is only open to not-for-profit groups.</p>
        <p class="card-text">For more information on how this program can benefit your organization, please contact a scrip representative by calling 800-487-5444.</p>
     </div>
  </div>
<app-footer></app-footer>
