<!-- Top Card -->
<div class="style"></div>
<div class="card-flush bg-danger">
  <div class="card-body">
<nav class="navbar navbar-primary bg-primaryfixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
      Sheetz
    </button>
    <!-- Off Canvas Nav -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Sheetz</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="open"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <li class="nav-item">
            <a class="nav-link" href="/search">Find a Sheetz</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-menu" href="#" id="offcanvasNavbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="true">
              Whats a Sheetz?
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdownMenu">
              <li><a class="dropdown-item" href="/whatsAsheetz">Whats A Sheetz?</a></li>
              <li><a class="dropdown-item" href="/whatsAsheetz">Our Story</a></li>
              <li><a class="dropdown-item" href="/whatsAsheetz">Our Food</a></li>
              <li><a class="dropdown-item" href="/whatsAsheetz">Our Drinks</a></li>
              <li><a class="dropdown-item" href="/whatsAsheetz">Our Fuel</a></li>
              <li><a class="dropdown-item" href="/whatsAsheetz">Our Family </a></li>
              <li><a class="dropdown-item" href="/whatsAsheetz">Our App</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-menu" href="#" id="offcanvasNavbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="true">
              Jobz
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="#">Job Openings</a></li>
              <li><a class="dropdown-item" href="#">Contractor Bids</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-menu" href="#" id="offcanvasNavbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="true">
              Community
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="/charities">Charities</a></li>
              <li><a class="dropdown-item" href="#">Newsroom</a></li>
              <li><a class="dropdown-item" href="/sponsorship">Sponsorship</a></li>
              <li><a class="dropdown-item" href="/kids">Sheetz for the Kidz</a></li>
              <li><a class="dropdown-item" href="/scrip">Scrip Program</a></li>
              <li><a class="dropdown-item" href="#">Sustainability</a></li>
              <li><a class="dropdown-item" href="#">Sponsorship</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-menu" href="#" id="offcanvasNavbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="true">
              Cardz
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="#">My Loyalty Card</a></li>
              <li><a class="dropdown-item" href="#">Gift Cards</a></li>
              <li><a class="dropdown-item" href="#">Sheetz CardCash Gift Card Exchange</a></li>
              <li><a class="dropdown-item" href="#">Sheetz Platinum Edition Visa</a></li>
              <li><a class="dropdown-item" href="#">Sheetz Business Edge</a></li>
              <li><a class="dropdown-item" href="#">All Credit Cards</a></li>
              <li><a class="dropdown-item" href="#">Sign Up for My Sheetz Rewards</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-menu" href="#" id="offcanvasNavbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="true">
              Buy Stuff
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="">Buy Food</a></li>
              <li><a class="dropdown-item" href="#">Buy Gift Cards</a></li>
              <li><a class="dropdown-item" href="#">Business Quantity Gift Cards</a></li>
              <li><a class="dropdown-item" href="#">Sheetz Merchandise</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-menu" href="#" id="offcanvasNavbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="true">
              Nutrition
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="#">Calculator</a></li>
              <li><a class="dropdown-item" href="#">Self-Serve</a></li>
              <li><a class="dropdown-item" href="#">Shweetz</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>

            </ul>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Accessibility</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Terms & Conditions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tobacco Offers</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>
  </div>
</div>
<div class="d-grid gap-2">
  <button class="btn btn-success" type="button">Order Online</button>
</div>
