<!-- Sidenav -->
<nav id="sidenav-1" class="sidenav" data-mdb-hidden="false">
    <ul class="sidenav-menu">
  
      <li class="sidenav-item">
        <a class="sidenav-link">
          <i class="far fa-smile fa-fw me-3"></i><span>Find a Sheetz</span></a>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link"><i class="fas fa-grin fa-fw me-3"></i><span>Whats A Sheetz?</span></a>
        <ul class="sidenav-collapse show">
          <li class="sidenav-item">
            <a class="sidenav-link">Whats a Sheetz?</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link">Our Story</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link">Our Food</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link">Our Drinks</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link">Our Fuel</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link">Our Family</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link">Our App</a>
          </li>
        </ul>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link"><i class="fas fa-grin-wink fa-fw me-3"></i><span>Jobz
            </span></a>
        <ul class="sidenav-collapse">
          <li class="sidenav-item">
            <a class="sidenav-link">Job Openingz</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link">Contractor Bids</a>
        </li>
    </ul>
  </li>
          <li class="sidenav-item">
            <a class="sidenav-link"><i class="fas fa-grin-wink fa-fw me-3"></i><span>Community
                </span></a>
            <ul class="sidenav-collapse">
              <li class="sidenav-item">
                <a class="sidenav-link">Charities</a>
              </li>
              <li class="sidenav-item">
                <a class="sidenav-link">Newsroom</a>
              </li>
              <li class="sidenav-item">
                <a class="sidenav-link">Sponsorship</a>
              </li>
              <li class="sidenav-item">
                <a class="sidenav-link">Sheetz for the Kidz</a>
              </li>
              <li class="sidenav-item">
                <a class="sidenav-link">Scrip Program</a>
              </li>
              <li class="sidenav-item">
                <a class="sidenav-link">Sustainability</a>
              </li>
              <li class="sidenav-item">
                <a class="sidenav-link">Real Estate</a>
            </li>
        </ul>
      </li>
              <li class="sidenav-item">
                <a class="sidenav-link"><i class="fas fa-grin-wink fa-fw me-3"></i><span>Cards
                    </span></a>
                <ul class="sidenav-collapse">
                  <li class="sidenav-item">
                    <a class="sidenav-link">My Loyalty Card</a>
                  </li>
                  <li class="sidenav-item">
                    <a class="sidenav-link">Gift Cards</a>
                  </li>
                  <li class="sidenav-item">
                    <a class="sidenav-link">Sheetz CardCash Gift Card Exchange</a>
                  </li>
                  <li class="sidenav-item">
                    <a class="sidenav-link">Sheetz Platinum Edition Visa</a>
                  </li>
                  <li class="sidenav-item">
                    <a class="sidenav-link">Sheetz Business Edge</a>
                  </li>
                  <li class="sidenav-item">
                    <a class="sidenav-link">All Credit Cards</a>
                  </li>
                  <li class="sidenav-item">
                    <a class="sidenav-link">Sign Up For My Sheetz Rewards</a>
                </li>
            </ul>
          </li>
                  <li class="sidenav-item">
                    <a class="sidenav-link"><i class="fas fa-grin-wink fa-fw me-3"></i><span>Buy Stuff
                        </span></a>
                    <ul class="sidenav-collapse">
                      <li class="sidenav-item">
                        <a class="sidenav-link">Buy Food</a>
                      </li>
                      <li class="sidenav-item">
                        <a class="sidenav-link">Buy Gift Cards</a>
                      </li>
                      <li class="sidenav-item">
                        <a class="sidenav-link">Business Quantity Gift Cards</a>
                      </li>
                      <li class="sidenav-item">
                        <a class="sidenav-link">Sheetz Merchandise</a>
                    </li>
                </ul>
              </li>
                      <li class="sidenav-item">
                        <a class="sidenav-link">
                          <i class="far fa-smile fa-fw me-3"></i><span>Nutrition</span></a>
                      </li>
                      <li class="sidenav-item">
                        <a class="sidenav-link">
                          <i class="far fa-smile fa-fw me-3"></i><span>FAQ</span></a>
                      </li>
                      <li class="sidenav-item">
                        <a class="sidenav-link">
                          <i class="far fa-smile fa-fw me-3"></i><span>Contact Us</span></a>
                      </li>
                      <li class="sidenav-item">
                        <a class="sidenav-link">
                          <i class="far fa-smile fa-fw me-3"></i><span>Accessibility</span></a>
                      </li>
                      <li class="sidenav-item">
                        <a class="sidenav-link">
                          <i class="far fa-smile fa-fw me-3"></i><span>Terms & Conditions</span></a>
                      </li>
                      <li class="sidenav-item">
                        <a class="sidenav-link">
                          <i class="far fa-smile fa-fw me-3"></i><span>Privacy Policy</span></a>
                      </li>
                      <li class="sidenav-item">
                        <a class="sidenav-link">
                          <i class="far fa-smile fa-fw me-3"></i><span>Tobacco Offers</span></a>
                      </li>
                    </ul>
        
      
    
  </nav>
  <!-- Sidenav -->
  
  <!-- Toggler -->
  <button data-mdb-toggle="sidenav" data-mdb-target="#sidenav-1" class="btn btn-primary"
    aria-controls="#sidenav-1" aria-haspopup="true">
    <i class="fas fa-bars"></i>
  </button>
  <!-- Toggler -->