<div class="card text-center">
    <img src="assets/login.png">
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <button type="button" class="btn btn-success btn-lg">Learn More</button>
  </div>
  <div style="text-align:center">  
    <button type="button" class="btn btn-info btn-lg ">Login</button>
    <button type="button" class="btn btn-warning btn-lg">Signup</button> 
</div>  
<div class="d-grid gap-2 col-6 mx-auto">
      <h5 class="card-title text-danger">Stay in the Loop and Be Rewarded For Being</h5>
        <p class="card-text text-danger">Awesome</p>
        <p class="card-text text-light">Rewards</p>
        <p class="card-text text-light">Fuel Savings</p>
        <p class="card-text text-light">Free Stuff</p>
  </div>
      
<div class="card-flush text-center">
    <div class="card-body bg-white">
        <span></span>
        

    </div>
  </div>
